*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: ta;
    display: grid;
    grid-template-areas: 'header'
                        'main'
                        'footer';
    grid-template-rows:  30% auto auto;
    grid-gap: 10px;
    letter-spacing: 2px;
    font-size: 14px;
}
header{
    /*grid-area: header;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    grid-area: header;
    /* position: relative; */
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}
header>.logo-container{
    position: absolute;
    top: 0%;
    left: 5%;
    width: 10%;
    height: 100%;
}
header>.menu-container{
    position: absolute;
    top: 0%;
    right: 3%;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}
header>.menu-container>ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 25px;
}
header>.menu-container>ul>li{
    position: relative;
}
header>.menu-container>ul>li{
    position: relative;
}
header>.menu-container>ul>li>p {
    margin-top: 15px;
}
header>.menu-container>ul>li>ul{
    position: absolute;
    list-style: none;
    display: none;
    z-index: 100;
    background-color: white;
    width: 120%;
    padding: 5px 20px;
    font-size: 14px;
}
header>.menu-container>ul>li>ul>li:nth-child(even){
    margin: 10px 0px;
}
header>.menu-container>ul>li:hover ul{
    display: block;
}
header>.account-container{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 8%;
    z-index: 100;
}

main{
    grid-area: main;
    margin: 10px 0;
    display: flex;
    width: 100%;
    position: relative;
}
main>.left{
    width: 30%;
    border-right: 1px solid black;
    padding: 20px;
    /*position: fixed;*/
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 999;
    height: 600px;
}
main>.left>.form-container>form{
    width: 100%;
}
main>.left>.form-container>form>table{
    width: 100%;
}
main>.left>.form-container>form>table tr{
    height: 50px;
}
main>.left>.form-container>form>table input,main>.left>.form-container>form>table textarea{
    width:96%;
    height: 30%;
    padding: 6px 10px;
}
main>.left>.form-container>form>table input:focus,main>.left>.form-container>form>table textarea:focus{
    outline: none;
}
main>.right{
    width: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 40px;
    flex-direction: column;
}
main>.right>table{
    border-collapse: collapse;
    width: 90%;
    margin: 20px 0;
}
main>.right tr {
    height: 40px;
    width: 100%;
}
main>.right th, main>.right td {
    border: 1px solid black;
    padding: 10px;
    text-align:center;
}
footer{
    grid-area: footer;
}